<div class="row">
  <div class="col-md-12">
    <h1>Nombre: {{ donante.nombre }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <img src="{{ donante.foto }}" />
  </div>

  <div class="col-md-10">
    <div class="row">
      <p><b>Cedula:</b> {{ donante.cedula }}</p>
    </div>
    <div class="row">
      <p><b>Tipo de Sangre:</b> {{ donante.tipoSangre }}</p>
    </div>
    <div class="row">
      <p><b>Color de Piel:</b> {{ donante.colorPiel }}</p>
    </div>
  </div>
  <div class="row">
    <p><b>Cedula:</b> {{ donante.cedula }}</p>
  </div>
  <div class="row">
    <p><b>Cedula:</b> {{ donante.cedula }}</p>
  </div>
</div>
