
<form>
    <h1 >Datos del receptor</h1>
    <div class="form-group">
        <label >Nombre</label>
        <input type="text" class="form-control" id="nombreInput" placeholder="Nombre Completo">
    </div>
    <div class="form-group">
        <label >Cedula</label>
        <input type="text" class="form-control" id="cedulaInput" placeholder="Cedula de ciudadania">
    </div>
    <div  class="form-group">
        <label >Tipo de sangre</label>
        <select id = "tipoSangre"class="form-control form-control">
        <option>Seleccione</option>  
        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>AB+</option>
        <option>AB-</option>
        <option>O+</option>
        <option>O-</option>

      </select>
    </div>
    <div class="form-group">
        <label >Color de piel</label>
        <input type="text" class="form-control" id="colorInput" placeholder="color y tonalidad">
    </div>
 
    <div  class="form-group">
        <label >Tatuajes</label>
        <select id = "tatuajes"class="form-control form-control">
        <option>Seleccione</option>   
        <option>Si</option>
        <option>No</option>
      </select>
    </div>
    <div  class="form-group">
        <label >Cortes</label>
        <select id = "cortes"class="form-control form-control">
        <option>Seleccione</option>  
        <option>Si</option>
        <option>No</option>
      </select>
    </div>
    <div  class="form-group">
        <label >Cicatrices</label>
        <select id = "cicatrices"class="form-control form-control">
        <option>Seleccione</option>  
        <option>Si</option>
        <option>No</option>
      </select>
    </div>
    <div class="form-group">
        <label >Cantidad de vello</label>
        <input type="number" class="form-control" id="velloInput" placeholder="por cm^2">
    </div>
    <div class="form-group">
        <label >Ph de la piel</label>
        <input type="number" class="form-control" id="phInput" placeholder="1-14">
    </div>
    <div class="form-group">
        <label >Descripcion</label>
        <input type="text" class="form-control" id="descripcionInput" placeholder="descripcion de la zona">
    </div>
    <div class="form-group">
        <label >Foto zona afectada</label>
        <input type="text" class="form-control" id="fotoInput" placeholder="URL">
    </div>
    <button type="submit" class="btn btn-success">Registar</button>
    <button type="button" class="btn btn-danger ">Cancelar</button>

</form>

