<main role="main">
  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-6">Sistema de información de donación de piel</h1>
          <p>
            Bienvenido a Sidopi. Abajo encuentra las acciones disponibles para
            realizar sobre el sistema junto con su pánel de notificaciones
          </p>
          <p>
            <a class="btn btn-info btn-lg" routerLink="fr" role="button"
              >Registrar Paciente &raquo;</a
            >
          </p>
          <p>
            <a class="btn btn-info btn-lg" routerLink="fd" role="button"
              >Registrar Donante &raquo;</a
            >
          </p>
          <p>
            <a class="btn btn-primary btn-lg" href="lr" role="button"
              >Realizar Análisis &raquo;</a
            >
          </p>
          <p>
            <a class="btn btn-primary btn-lg" routerLink="rt" role="button"
              >Ver Pacientes &raquo;</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <ul class="list-group" style="margin-top: 10em">
        <h4>Panel de actualizaciones</h4>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Paciente Pablo jimenz tiene nuevas solicitudes
          <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Nuevo paciente registrado
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          ACTULAIZACION BASE DE DATOS
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Sobre Sidopi</h2>
            <p>
              Sidopi es un sistema de información que agiliza procesos de
              donación de piel en Colombia. Cuenta con información accesible a
              médicos y personal del sector salud sobre la oferta de piel en los
              bancos de piel existentes y sobre paciantes donantes.
            </p>
            <p>
              <a class="btn btn-success" href="#" role="button"
                >Más Información &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-4">
            <h2>Principales Características</h2>
            <p>
              Sidopi realiza un primer análisis de compatibilidad entre donantes y
              pacientes. El sistema recibe información sobre personas que
              necesitan un trasplante de piel y busca dentro de sus bases de
              datos posibles trasplantes. De esta manera se agilizan los
              procesos de búsqueda del órgano
            </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                >View details &raquo;</a
              >
            </p>
          </div>
          <div class="col-md-4">
            <h2>¿Por qué Sidopi?</h2>
            <p>
              Sidopi es una iniciativa unica en el pais, y busca mejorar la
              calidad de vida de las victimas por quemaduras agilizando su
              tratamiento.
            </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                >View details &raquo;</a
              >
            </p>
          </div>
        </div>

        <hr />
      </div>
      <!-- /container -->
    </div>
  </div>
</main>
